apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: wms
spec:
  template:
    spec:
      containers:
        - name: backend
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 20
